@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/500.css";
@import "@fontsource/ibm-plex-serif/700.css";

@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-serif: "IBM Plex Serif", serif;

  --color-foreground: #ffffff;
  --color-base-100: #2f2f2f;
  --color-base-200: #282828;
  --color-base-300: #1f1f1f;
}

@layer base {
  * {
    /* only one outline */
    @apply border-foreground/10 focus-visible:outline-1;
  }
  body {
    @apply bg-base-300 text-foreground;
  }
}
