---
import HeroPostCard from "@components/HeroPostCard.astro";
import PostCard from "@components/PostCard.astro";
import Layout from "@layouts/Layout.astro";

import { getCollection } from "astro:content";
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <HeroPostCard {...posts[0]} />
  <div class="mx-auto mt-20 flex max-w-4xl flex-col gap-5 px-4">
    <h3 class="text-xl font-bold">Latest</h3>
    {
      posts.map((post, idx) => (
        <Fragment>
          <PostCard {...post} />
          {idx !== posts.length - 1 && <span class="w-full border-b" />}
        </Fragment>
      ))
    }
  </div>
</Layout>
