---
import { getCollection } from "astro:content";
import HeroPostCard from "@components/HeroPostCard.astro";
import PostCard from "@components/PostCard.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <HeroPostCard {...posts[0]} />
  <div
    class="mx-auto mt-10 md:mt-20 max-w-4xl px-4 grid grid-cols-1 md:grid-cols-3 gap-y-10 md:gap-y-20 md:gap-x-20"
  >
    <div class="flex flex-col gap-5 scroll-mt-5" id="whoami">
      <div class="flex items-center gap-4">
        <h3 class="text-base-content/75 text-sm font-bold uppercase">whoami</h3>
        <span class="flex-1 border-b"></span>
      </div>
      <div class="flex md:flex-col gap-5">
        <img
          src="https://github.com/stabldev.png"
          class="border w-1/3 md:w-auto shrink-0"
        />
        <p class="text-base-content/75">
          <b>Hi, I'm Stabldev!</b>
          <i>"I build software that stays built."</i> lol, nevermind.
        </p>
      </div>
      <div class="flex flex-col gap-5">
        <p class="text-base-content/75">
          tbh, i like breaking and fixing things; usually in python or js/ts.
          sometimes it’s just my arch install (which i break more than i’d like
          to admit). ngl, it’s all part of the fun.
        </p>
        <a
          href="https://github.com/stabldev"
          target="_blank"
          rel="noreferrer"
          class="font-medium text-sm inline-flex items-center gap-2 text-base-content/75 py-1 px-1.5 border w-max bg-base-100"
        >
          GitHub
          <Icon name="github" class="size-4" />
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-5 col-span-2">
      <div class="flex items-center gap-4">
        <h3 class="text-base-content/75 text-sm font-bold uppercase">latest</h3>
        <span class="flex-1 border-b"></span>
      </div>
      {
        posts.map((post, idx) => (
          <Fragment>
            <PostCard {...post} />
            {idx !== posts.length - 1 && <span class="w-full border-b" />}
          </Fragment>
        ))
      }
    </div>
  </div>
</Layout>
