---
import { Icon } from "astro-icon/components";
---

<header
  class="bg-base-200 text-base-content/75 mx-auto mt-5 flex max-w-2xl items-center justify-between gap-3 border p-3"
>
  <button class="flex items-center gap-2">
    <Icon name="search" class="size-5" />
    <span class="text-sm font-medium">Quick Search...</span>
  </button>
  <div class="flex items-center gap-3">
    <a href="https://github.com/stabldev" target="_blank" rel="noreferrer">
      <Icon name="github" class="size-4.5" />
    </a>
    <a href="https://x.com/stabldev" target="_blank" rel="noreferrer">
      <Icon name="x" class="size-4" />
    </a>
    <a href="/rss.xml" target="_blank" rel="noreferrer">
      <Icon name="rss" class="size-3.5 shrink-0" />
    </a>
  </div>
</header>
