---
import { Icon } from "astro-icon/components";
---

<div class="bg-base-100 mx-auto mt-10 flex h-75 max-w-5xl">
  <div class="flex flex-1 flex-col gap-5 border border-r-0 p-5 pr-10">
    <h2 class="font-serif text-4xl font-black">
      Why Your Perfect Lighthouse Score Doesn't Mean Your Site is Fast
    </h2>
    <p class="text-base-content/75 line-clamp-2">
      There are times when you need to completely remove sensitive files or
      large binaries from your Git repository's history. Here's how to do it
      properly.
    </p>
    <a href="" class="mt-auto inline-flex w-max items-center gap-2 font-medium">
      Countinue reading
      <Icon name="arrow-right" />
    </a>
  </div>
  <img
    class="aspect-square h-full object-cover"
    src="https://suneeth.vercel.app/_next/image?url=https%3A%2F%2Ffiles.catbox.moe%2Fw7pa13.webp&w=1920&q=75"
    alt="cover"
  />
</div>
