---
import { Icon } from "astro-icon/components";
---

<div class="flex gap-5 max-w-5xl bg-base-100 border h-75 mx-auto mt-10">
  <div class="flex flex-col gap-5 flex-1 p-5">
    <h2 class="text-4xl font-serif font-black">
      Why Your Perfect Lighthouse Score Doesn't Mean Your Site is Fast
    </h2>
    <p class="text-foreground/75">
      There are times when you need to completely remove sensitive files or
      large binaries from your Git repository's history. Here's how to do it
      properly.
    </p>
    <a href="" class="inline-flex gap-2 items-center font-medium mt-auto">
      Countinue reading
      <Icon name="arrow-right" />
    </a>
  </div>
  <img
    class="h-full aspect-square object-cover"
    src="https://suneeth.vercel.app/_next/image?url=https%3A%2F%2Ffiles.catbox.moe%2Fw7pa13.webp&w=1920&q=75"
    alt="cover"
  />
</div>
