@import "@fontsource/mona-sans/400.css";
@import "@fontsource/mona-sans/500.css";
@import "@fontsource/mona-sans/600.css";
@import "@fontsource/mona-sans/700.css";
@import "@fontsource/monaspace-neon/400.css";
@import "@fontsource/monaspace-neon/600.css";

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Mona Sans", sans-serif;
  --font-mono: "MonaSpace Neon", monospace;

  --color-base-content: #ffffff;
  --color-base-100: #2f2f2f;
  --color-base-200: #282828;
  --color-base-300: #1f1f1f;
}

@layer base {
  * {
    /* only one outline */
    @apply border-base-content/10 focus-visible:outline-2 focus-visible:outline-base-content/75;
    @apply decoration-base-content/75! decoration-2! underline-offset-8!;
  }
  body {
    @apply bg-base-300 text-base-content;
  }
}
